<!DOCTYPE html>
<html>
<head>
    <title>JAPI - Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="/js/admin.js"></script>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">JAPI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="bulkDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bulk
                </a>
                <div class="dropdown-menu" aria-labelledby="bulkDrop">
                    <a class="dropdown-item" href="/permissions">Bulk change permission</a>
                    <a class="dropdown-item" href="/projectroles">Bulk change project roles</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="compareDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compare
                </a>
                <div class="dropdown-menu" aria-labelledby="compareDrop">
                    <a class="dropdown-item" href="#">Compare permission schemes</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/set">Admin</a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="error">
    <div th:if="${error}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Error</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:text="${error}" class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>


</body>
</html>