<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JAPI - Project roles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/role.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-primary" th:include="navigation :: nav"></nav>

<div th:include="navigation :: error" class="toast" role="alert" aria-live="assertive" aria-atomic="true"></div>


<div class="container">
    <form method="post" action="/projectroles" class="mb-3">

        <div class="row mt-3">
            <div class="col">
                <table class="table table-hover">
                    <h3>Projects:</h3>
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="allPerm" class="form-check-input" onclick="allPermF()">
                            <label class="form-check-label">All ID</label>
                        </th>
                        <th scope="col">Key</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${projects}">
                        <th scope="row" >
                            <input type="checkbox" class="form-check-input cbPerm" th:name="'project-'+${project.id}">
                            <label class="form-check-label" th:text="${project.id}" >Check me out</label>
                        </th>
                        <td th:text="${project.key}">test</td>
                        <td th:text="${project.name}">test</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>Operation:</h3>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operation" id="add" value="add" onchange="checkOperation()">
                    <label class="form-check-label" for="add">
                        Add to roles
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operation" id="update" value="update" onchange="checkOperation()">
                    <label class="form-check-label" for="update">
                        Update roles
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operation" id="delete" value="delete" onchange="checkOperation()">
                    <label class="form-check-label" for="update">
                        Delete from roles
                    </label>
                </div>


                <div class="row" id="roleInput" style="display: none;" >
                    <div class="form-group col-4">
                        <label for="grantType">Role</label>
                        <select multiple class="form-control" id="grantType" name="grantType">
                            <option value="all" >All</option>
                            <option th:each="role : ${roles}" th:text="${role}" th:value="${role}">Role</option>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="grantValue">User or group</label>
                        <input type="text" class="form-control" id="grantValue" name="grantValue">
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <button class="btn btn-primary" type="submit">Change</button>
        </div>

    </form>
</div>

</body>
</html>